.container{
  /*background-color: #005C53;*/
  background-image: url(../images/container.jpg);
  background-size: cover; /* Para que cubra el div */
  background-position: center;
}
body {
    font-family: "Play", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}


/*articulo base gral*/
.articulo1{
    background-color: lightseagreen;
    border-radius: 20px;
    border: 2px solid darkgreen;
}
.articulo2{
    background-color: #E8CE6F;
    border-radius: 50px;
}
.articulo3{
    background-color: #E8CC6F;
    border-radius: 25px;
    border:2px solid violet;
}
.articulo4{
    background-color: #DCE86F;
    border-radius: 25px;
    border: 2px solid darkblue;
}

/*footer*/
.footergral {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 15px;
    background-color: #E8DB6F;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenedor-botones {
    display: flex;
    gap: 10px; /* Espacio entre botones */
}
/*carrusel*/
.carousel {
    width: 100%;
    margin: 0 auto;
}
#carouselExampleCaptions {
    width: 100%;
    height: 100vh;  /* Limita la altura al 100% de la altura de la ventana (viewport) */
    margin: auto; /* Para centrar */
}
#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
    width: 100%;
    height: 100%; /* Ajusta la altura para que ocupe el 100% del contenedor */
}
#carouselExampleCaptions img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/*estilos del juego*/
.contenedor {
    width: 150px;
    height: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contenedor img {
    width: 100px;
}
.contenedor img:active{
    border:2px solid red;
}
.basura {
    width: 90px;
}
.basura:active {
    border: 2px solid red;
}

/*quienes somos*/
.quienessomos{
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    border: 2px solid skyblue;
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    #carouselExampleCaptions {
        height: 400px;  /* Reduce la altura en dispositivos móviles */
    }
    #carouselExampleCaptions .carousel-inner,
    #carouselExampleCaptions .carousel-item {
        height: 400px;  /* Ajusta la altura para los items del carrusel */
    }

     .contenedor-botones {
        flex-direction: column; 
        align-items: center; 
    }
}
